<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dkw.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Dkw.PpgSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dkw.Properties.Settings>
            <setting name="MainFormSize" serializeAs="String">
                <value>266, 126</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PasswordLength" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FrequencyTableFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="CorpusFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="CharSet" serializeAs="String">
                <value>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz</value>
            </setting>
        </Dkw.Properties.Settings>
        <Dkw.PpgSettings>
            <setting name="IncludeNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberCharacters" serializeAs="String">
                <value>0123456789</value>
            </setting>
            <setting name="NumberFrequency" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IncludeSymbols" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SymbolCharacters" serializeAs="String">
                <value>~!@#$%^&amp;*()+=</value>
            </setting>
            <setting name="SymbolFrequency" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CharacterCase" serializeAs="String">
                <value>MixedCase</value>
            </setting>
            <setting name="PasswordLength" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MainFormOpacity" serializeAs="String">
                <value>1</value>
            </setting>
        </Dkw.PpgSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
